<header class="container">
    <section class="top">
        <img src="assets/images/logo.png" alt="Logo da TIVIC">

        <div class="balance">
            <div class="balance-col first">
                <div class="texts">
                    Saldo
                    <span [ngClass]="!viewBalance ? 'hide' : '' ">R$ {{balance}}</span>
                </div>
                <fa-icon [icon]="viewBalance ? faEye : faEyeSlash" (click)="toggleViewBalance.emit()"></fa-icon>
            </div>
            <div class="balance-col second">
                <div class="pfp">
                    {{userInitials}}
                </div>
                <div class="texts" style="margin-right: 30px;">
                    {{'Olá, ' + username + '!'}}
                    <span>{{accountNumber}}</span>
                </div>
                <fa-icon [icon]="faGear"></fa-icon>
            </div>
            <div class="balance-col third" (click)="logout()">
                SAIR
            </div>
        </div>
    </section>
</header>