<app-header
    [balance]="balance"
    [accountNumber]="accountNumber"
    [viewBalance]="viewBalance" 
    (toggleViewBalance)="toggleViewBalance()"
></app-header>

<main>
    <section class="container">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-lg-10 col-12">
                <div class="operations">
                    <div class="deposit" (click)="openModalNewTransaction(2)">
                        Depositar
                    </div>
                    <div class="withdraw" (click)="openModalNewTransaction(1)">
                        Sacar
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-1"></div>
            <div class="col-lg-10 col-12">
                <div class="box-card">
                    <div class="extrato">
                        <div class="extrato-header">
                            <span>Extrato</span>
                            <fa-icon [icon]="viewBalance ? faEye : faEyeSlash" (click)="toggleViewBalance()"></fa-icon>
                        </div>
                        <div class="extrato-balance">
                            Saldo
                            <span [ngClass]="!viewBalance ? 'hide' : isAmountNegative() ? 'negative' : '' ">R$ {{balance || 0.00}}</span>
                        </div>
                        <div class="extrato-filters">
                            <button (click)="changeOperation(2)" [ngClass]="operation === 2 ? 'selected': ''">Entrada</button>
                            <button (click)="changeOperation(1)" [ngClass]="operation === 1 ? 'selected': ''">Saída</button>
                        </div>
                        <div class="extrato-recentes" *ngIf="viewBalance">
                            <div class="transacao" *ngFor="let transaction of transactions">
                                <div class="first">
                                    <small>{{transaction.day_week}}</small>
                                    <small class="day">{{transaction.day}}</small>
                                    <small>{{transaction.month}} {{transaction.year}}</small>
                                </div>

                                <div class="second">
                                    <span>{{transaction.operation === 1 ? 'Saque' : 'Deposito'}}</span>
                                    <p [ngClass]="transaction.operation === 1 ? 'expense': 'income'">{{transaction.amount}}</p>
                                </div>
                            </div>
                            <h5 *ngIf="!transactions.length">Nenhuma transação cadastrada</h5>
                        </div>
                        <div class="extrato-recentes" *ngIf="!viewBalance">
                            <div class="transacao skeleton-transacao">
                                <div class="first">
                                    <small></small>
                                    <small></small>
                                    <small></small>
                                </div>

                                <div class="second">
                                    <span></span>
                                    <p></p>
                                </div>
                            </div>
                            <div class="transacao skeleton-transacao">
                                <div class="first">
                                    <small></small>
                                    <small></small>
                                    <small></small>
                                </div>

                                <div class="second">
                                    <span></span>
                                    <p></p>
                                </div>
                            </div>
                            <div class="transacao skeleton-transacao">
                                <div class="first">
                                    <small></small>
                                    <small></small>
                                    <small></small>
                                </div>

                                <div class="second">
                                    <span></span>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </section>
</main>